:root {
  --primary-color: #476ef9;
  --secondary-color: #fffa08;
  --primary-font-family: 'Poppins', sans-serif;
  --primary-font-size: 20px;
  --secondary-font-size: 40px;
  }

h1 {
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  text-align: left;
}

p {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  color: red;
}

 .modal-content {
  margin: auto;
  display: grid;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
}  

.page-container {
  margin-top: 80px;
}

.navbar-brand {
  font-family: var(--primary-font-family);
  font-size: 30px;
}

.poke-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}