:root {
--primary-color: #476ef9;
--secondary-color: #fffa08;
--primary-font-family: 'Poppins', sans-serif;
--primary-font-size: 20px;
--secondary-font-size: 40px;
}

body {
    margin-left: 20px;
    background-color: var(--primary-color);
    font-size: var(--primary-font-size);
    color: var(--secondary-color);
    font-family: var(--primary-font-family);
    line-height: 1.2;
}

.main h1 {
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--primary-font-family);
    font-size: var(--secondary-font-size);
}
