:root {
--primary-color: #476ef9;
--secondary-color: #fffa08;
--primary-font-family: 'Poppins', sans-serif;
--primary-font-size: 20px;
--secondary-font-size: 40px;
}

body {
    margin-left: 20px;
    background-color: var(--primary-color);
    font-size: var(--primary-font-size);
    color: var(--secondary-color);
    font-family: var(--primary-font-family);
    line-height: 1.2;
}

.main {
    display: flexbox;
    text-align: center;
}
.main h1 {
    display: block;
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--primary-font-family);
    font-size: var(--secondary-font-size);
}

.pokemon-list {
    list-style: none;
    columns: 4;
    margin-left: 70px;
}

.button-class {
    color: black;
    font-size:var(--primary-font-size);
    font-family: var(--primary-font-family);
    margin: 4px 2px;
    border: 3px solid #fffa08;
    border-radius: 2px 5px;
    display: inline-block;
    padding: 16px 32px;
    text-align: center;
    width: 180px;
    height: 58px;
}


button:hover,
button:focus,
.button-class:hover,
.button-class:focus {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}px

.main img {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}
